<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752591637321-ia9tarqjmurbokh3fr8gg2j6o858kmo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752591637321-ia9tarqjmurbokh3fr8gg2j6o858kmo7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>752591637321-5i8b0qncrug28kpj01l1gd9ccgdj9rqe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAltxJtPuwEAYdkBmFPeM2Wy3d2SWY40_c</string>
	<key>GCM_SENDER_ID</key>
	<string>752591637321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualRunKku</string>
	<key>PROJECT_ID</key>
	<string>virtualrunkku-c67d1</string>
	<key>STORAGE_BUCKET</key>
	<string>virtualrunkku-c67d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752591637321:ios:f9a01644e95c27a0942898</string>
</dict>
</plist>